* {
    margin: 0%;
    padding: 1%;
    background-color: black;
    color: white;
    background-size: 100%;
}
body {
    background:url(img/111.jpg);
}
div {
height: 480px;
width: 300px;
margin: 20px 0px;
border: 10px solid orange;
display: inline-block;
}
.fortnite {
    color: orangered;
    width: 100%;
   
}
.p1 {
    text-decoration: underline;
    border: 5px solid orange;
    font-family: 'Courier New', Courier, monospace; 
}
.p2 {

    text-decoration: underline;
    border: 5px solid orange;
    font-family: 'Courier New', Courier, monospace;
}
.p3 {
    background-color: black;
    border: 5px solid orange;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;

}

h1 {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
background-color: rgba(180, 48, 0, 0.925);
margin: 1%;
color: black;
text-shadow: 10px 10px 10px orange;
transition-property: all;
transition-duration: 3s;
transition-timing-function: ease-in;
transition-delay: 1s;
}
p {
    font-family: 'Times New Roman', Times, serif;
    width: 50%;

}
.pp {
    background-color: black;

}
.hp {
    border-radius: 10px;
    text-decoration: underline orange;
}
h2 {
    text-align: left;
    background-color: rgba(255, 94, 0, 0.863);
    color:black;
    width: 75%;
    border: 5px solid;
    border-color: black;
    border-radius: 20px;
    text-shadow: 5px 5px 5px black;
}
.rp {
    background-color: black;
    text-decoration: underline orange;
}
.h4 {
text-decoration: underline orangered;
text-size-adjust: 33px 20px;
}

.h3 {
    text-decoration: underline orange;
}
h3 {
    color:orangered;
    width:70%;

}

h4 {
    color:orange;
    width: 60%;
    text-decoration: underline orangered;
    font-size: 20px;
}
h5 {
    background: chocolate;
    color: black;
    text-align: left;
    width: 25%;
    border-radius: 2px;
    text-decoration: underline orange;
    font-size: 17px;
}


.ultimo {
    background-color: black;
}

footer {
    text-decoration: underline;
}
